/* @import url("./fonts/Fira/fira.css"); */
@import "./fonts/Fira/fira.css";
/* @import url("...") print;
@import url("...") screen; */

/* --- CONFIG ---- */
:root {
}

/* --- STYLING --- */
body {
  font-family: "Fira Sans", sans-serif;
}

@media (max-width: 38rem) {
  /* small screens */
  section {
    background-color: blue;
  }
}
@media (min-width: 38rem) {
  /* big screens */
  section {
    display: grid;
    /* grid-layout adapted from: https://stackoverflow.com/questions/44052336/make-a-grid-item-span-to-the-last-row-column */
    grid-template-columns: repeat(1, minmax(10rem, 1fr)) [last-col] 35%;
    grid-template-rows: auto [last-line];
  }

  section > * {
    background-color: rgb(102, 102, 199);
    padding: 20px;
    border: 1px solid rgb(43, 23, 23);
  }

  section > h2 {
    background-color: rgb(236, 236, 169);
    /* grid-column: last-col / span 1; */
    grid-column: 1 / span 1;
    grid-row: 1 / last-line;
    grid-row-start: span 9000;
  }
}
@media (min-width: 3800rem) {
  /* big screens */
  section {
    background-color: #ffcccc;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    /* grid-template-rows: 1fr; */
    grid-template-rows: 1fr auto [last-line];
    justify-items: stretch;
    /* grid-auto-flow: column; */
  }
  section > h2 {
    /* grid-row: 1 / auto; */
    grid-column: 1 / span 1;
    grid-row: 1 / last-line;
    grid-row-start: span 9000;
    /* grid-row-start: 1; */
    /* grid-row-end: -1; */
    /* grid-row-end: last-line; */
  }
  /* 
   * or use n-th-child selectors
   */
}
